.classpath
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
logs/
target/
*~
test-output
.gradle
build/
bin/
/cbuild
/.nb-gradle/profiles/private/
/.nb-gradle/private/
/.nb-gradle-properties
/.metadata/
